
{% extends 'base.html' %}
{% load static %}

{% block navbar %}
{% endblock %}

{% block project_selector %}
{% endblock %}

{% block content %}
<div class="row mt-5">
  <div class="d-flex justify-content-center">
    <div class="bg-black border border-secondary rounded shadow-sm overflow-hidden w-25">
      <form method="POST" action="{% url "register" %}" class="mb-0">{% csrf_token %}
        <div class="row p-4">
          <div class="col-12 mb-2 ">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
          </div>
          <div class="col-12 mb-2 ">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
          </div>
          <div class="col-12 mb-2">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <div class="col-12 mb-2">
            <label for="retype_pass" class="form-label">Retype Password</label>
            <input type="password" class="form-control" id="retype_pass" name="retype_pass" required>
          </div>
          <div class="col-6 mt-4">
            <div class="d-grid">
              <button type="submit" class="btn btn-primary btn-lg">Register</button>
            </div>
          </div>
          <div class="col-6 mt-4">
            <div class="d-grid">
              <a href="{% url "login" %}" class="btn btn-secondary btn-lg" role="button">Login</a>
            </div>
          </div>
          {% if username_error %}
          <div class="col-12 mt-4">
              <div class="alert alert-danger mb-0" role="alert">
                Username already taken!
              </div>
          </div>
          {% endif %}
          {% if password_error %}
          <div class="col-12 mt-4">
              <div class="alert alert-danger mb-0" role="alert">
                Password does not match!
              </div>
          </div>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
