{% extends 'base.html' %}

{% block navbar %}
      <li class="navbar-item"><a class="me-2" style="color: ADB5BD; text-decoration: none;" href="{% url 'dashboard' %}">Dashboard</a></li>
      <li class="navbar-item"><a class="me-2" style="color: ADB5BD; text-decoration: none;" href="{% url 'view_members' %}">Members</a></li>
      <li class="navbar-item"><a class="me-2" style="color: ADB5BD; text-decoration: none;" href="{% url 'view_project' %}">Overview</a></li>
      <li><a class="mr-2" style="color: ADB5BD; text-decoration: none;" href="{% url "logout" %}">Logout</a></li>
{% endblock %}

{% block content %}
    <form action="{% url 'update_project' %}" method="POST">{% csrf_token %}
      <div class="row mt-4 ms-3">
        <div class="col-5">
          <label for="project_name">Project Name:</label>
          <input class="form-control" type="text" name="project_name" id="project_name" required value="{{ project.project_name }}"><br><br>

          <label for="project_desc">Project Description:</label>
          <textarea class="form-control" name="project_desc" id="project_desc" cols="30" rows="10" required>{{ project.project_desc }}</textarea><br><br>

          <label for="project_start">Project Start:</label>
          <input class="rounded-2" type="date" name="project_start" id="project_start" required value="{{ project.project_start|date:'Y-m-d' }}"><br><br>

          <label for="project_end">Project End:</label>
          <input class="rounded-2" type="date" name="project_end" id="project_end" value="{{ project.project_end|date:'Y-m-d' }}"><br><br>

          <label for="project_status">Project Status:</label>
          <select class="rounded-3" name="project_status" id="project_status">
              <option value="0" {% if project.project_status == 0 %}selected{% endif %}>Ongoing</option>
              <option value="1" {% if project.project_status == 1 %}selected{% endif %}>Finished</option>
          </select><br><br>

          <input class="btn btn-outline-secondary rounded-3" style="color: WHITE;" type="submit" value="Update">
    </form>

    <a href="{% url 'view_project' %}">
        <button class="btn btn-outline-light rounded-3" style="color:WHITE;" type="button">Cancel</button>
    </a>

    <script>
        // Prevent startdate > enddate
        document.querySelector('form').addEventListener('submit', function(event) {
          event.preventDefault(); // Prevent form submission

          var startDate = new Date(document.getElementById('project_start').value);
          var endDate = new Date(document.getElementById('project_end').value);

          if (endDate && endDate < startDate) {
            alert('End date cannot be less than start date!');
            return;
          }

          // Proceed with form submission
          this.submit();
        });
    </script>

{% endblock %}
